<!DOCTYPE html>
<html lang="en">
{% from "components.html" import progress_bar %}


<head>
    <meta charset="UTF-8" />
    <title>Complete - {{ varietal_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!-- <link href="{{ url_for('static', filename='activity_complete.css') }}" rel="stylesheet" /> -->
</head>

<body>
    <div class="complete-wrapper container-fluid">
        {{ progress_bar(4, total_steps=4) }}
        <!-- Top Bar -->
        <div class="row my-3 align-items-left" style="min-height: 9vh;">
            <div class="col-md-2 d-flex justify-content-start"></div>
            <div class="col-md-8 text-center"><span class="varietal-label">{{ varietal_name }}</span></div>
        </div>
        <h1 class="complete-title">That's a Wrap on {{ varietal_name }}</h1>

        <p class="complete-text">Cheers for making it through Riesling!</p>
        <p class="complete-text">Ready to explore another varietal or revisit this one?</p>
        <p class="complete-text">Hit "Replay" to start over or "Back to Map" to choose a new varietal adventure.</p>

        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <form method="post" action="{{ url_for('varietal_intro', varietal_name=varietal_url) }}">
                    <button type="submit" class="btn-hero">replay</button>
                </form>
            </div>
            <div class="col-md-6 d-flex justify-content-start">
                <form method="post" action="{{ url_for('map') }}">
                    <button type="submit" class="btn-hero">back to map</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS + jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>