<!DOCTYPE html>
<html lang="en">
{% from "components.html" import progress_bar %}


<head>
    <meta charset="UTF-8" />
    <title>{{ activity_name }} - {{ varietal_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="activity-wrapper  container-fluid">
        {{ progress_bar(activity_number) }}
        <div class="row my-3 align-items-left" style="min-height: 9vh;">
            <div class="col-md-2 d-flex justify-content-start">
                <!-- Back to map button -->
                <form method="post" action="{{ url_for('map') }}">
                    <button type="submit" class="btn-hero btn-back">map</button>
                </form>
            </div>
            <!-- <div class="col-md-3"></div> -->
            <div class="col-md-8 text-center"><span class="varietal-label">{{ varietal_name }}</span></div>
        </div>
        <h1 class="activity-title">{{ activity_name }}</h1>
        <p class="activity-instructions">{{ activity_instructions }}</p>
        <p class="activity-hint">Hint: {{ hint }}</p>

        <form method="post"
            action="{{ url_for('start_activity', varietal_name=varietal_url, activity_number=activity_number) }}">
            <button type="submit" class="btn-hero next-btn">{{ activity_button }}</button>
        </form>

        <div class="row">
            <div class="col-md-1">
                {% if activity_number == 1 %}
                <form method="post" action="{{ url_for('varietal_intro', varietal_name=varietal_url) }}">
                    <button type="submit" class="btn-hero btn-back">back</button>
                </form>
                {% else %}
                <form method="post"
                    action="{{ url_for('start_activity', varietal_name=varietal_url, activity_number=activity_number - 1) }}">
                    <button type="submit" class="btn-hero btn-back">back</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Bootstrap JS + jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>